<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.noname.mapper.CourseRoomPlanMapper" >


    <select id="getAllPlanVo" resultType="com.noname.vo.PlanVO">
        SELECT cur.id, crp.room_id roomId, crp.timeslot_id timeslotId, t.time_slot timeslotStr, cur.course_name courseName, concat(r.building, "-",r.room_num) roomName
        FROM course cur
        LEFT JOIN course_room_plan crp ON crp.course_id = cur.id
        LEFT JOIN classroom r ON  crp.room_id = r.id
        LEFT JOIN timeslot t ON t.id = crp.timeslot_id
    </select>

</mapper>